@model Binance.Net.Objects.Models.Futures.BinanceFuturesAccountInfo

<!DOCTYPE html>
<html>
<head>
    <title>Account Info</title>
    <style>
        table {
            width: 50%;
            border-collapse: collapse;
        }

        table, th, td {
            border: 1px solid black;
        }

        th, td {
            padding: 15px;
            text-align: left;
        }
    </style>
</head>
<body>
    <h1>Account Info</h1>
    <table>
        <tr>
            <th>Total Margin Balance</th>
            <th>Total Unrealized Profit</th>
            <th>Total</th>
        </tr>
        <tr>
            <td>@((Model.TotalMarginBalance * 80) - 500) </td>
            <td>@(Model.TotalUnrealizedProfit * 80)</td>
            <td>@((Model.TotalWalletBalance * 80) - 500)</td>
        </tr>
    </table>


    <table>
        <tr>
            <th>Symbol</th>
            <th>PnL</th>
        </tr>
        @foreach (var x in Model.Positions.Where(x => x.Quantity != 0).OrderByDescending(x=>x.UnrealizedPnl))
        {
            <tr>
                <td>@x.Symbol</td>
                <td>@(x.UnrealizedPnl)</td>
                <td>@Math.Abs(x.Quantity * x.EntryPrice)</td>
            </tr>
        }
    </table>

</body>
</html>
